
#indexPage{
    text-align: center;
    color: whitesmoke;
    line-height: 60%;
    font: caption;
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;

}

#indexPageButton{
    display: inline-block;
    border: none;

}