#main{
    text-align: center;
    color: rgb(230, 228, 228);
    line-height: 40%;
    font: caption;
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;
}